################################################################################
# .gitignore for Blazor WebAssembly and Visual Studio
################################################################################

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
release/

# Rider
.idea/
*.sln.iml

# Publish output
wwwroot/*.deploy.json

# Misc
*.log
*.db
